{% extends "navbar.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 500px;
            height: 350px;
            object-fit: contain;
            margin: 0 450px;
        }
    </style>
</head>
<body>
    <h1>Sql page</h1>
    <img src="/static/images/sql.png">
    <p>SQL allows you to pull data from databases. It helps Data Scientists and Analysts collect and prepare data for analysis and 
        visualization, and Marketers can use it to learn more about how different types of content perform with their audience.</p>
</body>
</html>

{%  endblock %}